# World Happiness Report
By Darshik A S

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
sns.set_style("whitegrid", {'grid.linestyle': '--'})
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

In [3]:
data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [5]:
data.nunique()

Country                          158
Region                            10
Happiness Rank                   157
Happiness Score                  157
Standard Error                   153
Economy (GDP per Capita)         158
Family                           158
Health (Life Expectancy)         157
Freedom                          158
Trust (Government Corruption)    157
Generosity                       158
Dystopia Residual                158
dtype: int64

In [6]:
data['Region'].value_counts()

Sub-Saharan Africa                 40
Central and Eastern Europe         29
Latin America and Caribbean        22
Western Europe                     21
Middle East and Northern Africa    20
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       2
Australia and New Zealand           2
Name: Region, dtype: int64

In [7]:
np.round(data.describe().T,2)

,count,mean,std,min,25%,50%,75%,max
Happiness Rank,158.0,79.49,45.75,1.00,40.25,79.50,118.75,158.00
Happiness Score,158.0,5.38,1.15,2.84,4.53,5.23,6.24,7.59
Standard Error,158.0,0.05,0.02,0.02,0.04,0.04,0.05,0.14
Economy (GDP per Capita),158.0,0.85,0.40,0.00,0.55,0.91,1.16,1.69
Family,158.0,0.99,0.27,0.00,0.86,1.03,1.21,1.40
Health (Life Expectancy),158.0,0.63,0.25,0.00,0.44,0.70,0.81,1.03
Freedom,158.0,0.43,0.15,0.00,0.33,0.44,0.55,0.67
Trust (Government Corruption),158.0,0.14,0.12,0.00,0.06,0.11,0.18,0.55
Generosity,158.0,0.24,0.13,0.00,0.15,0.22,0.31,0.80
Dystopia Residual,158.0,2.10,0.55,0.33,1.76,2.10,2.46,3.60

In [10]:
# sns.pairplot(data)
# plt.show()

In [11]:
# plt.figure(figsize=(10,10))
# cmap = sns.cubehelix_palette(light=1, as_cmap=True)
# sns.heatmap(data.corr(),annot=True,square=True, cmap=cmap, cbar_kws={"shrink": .7})
# plt.show()